services:
  mysql:
    image: mysql:8.0
    container_name: blog_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}
      MYSQL_DATABASE: ${DB_NAME:-blog_db}
    ports:
      - '${DB_PORT:-3306}:3306'
    volumes:
      - mysql_data:/var/lib/mysql
      - ./src/Infra/Database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    networks:
      - blog_network
    healthcheck:
      test:
        [
          'CMD',
          'mysqladmin',
          'ping',
          '-h',
          'localhost',
          '-u',
          '${DB_USER:-root}',
          '-p${DB_PASSWORD:-root}',
        ]
      interval: 5s
      timeout: 3s
      retries: 10

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: blog_phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: ${DB_USER:-root}
      PMA_PASSWORD: ${DB_PASSWORD:-root}
    ports:
      - '8080:80'
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - blog_network

networks:
  blog_network:
    driver: bridge

volumes:
  mysql_data:
    driver: local
